body {
  background-color: black;
  color: white;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 20px 0;
}

.navigation-bar {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
}

.navigation-bar a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}

.zodiac-sign-container {
  margin-top: 20px;
}

.zodiac-sign {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center; /* Center text */
}

.zodiac-sign img {
  width: 100px; /* Set width to 300px for Instagram post size */
  height: 100px; /* Set height to 300px for Instagram post size */
  border-radius: 10px;
  display: block;
  margin: 0 auto; /* Center image */
}

.subscription-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center; /* Center text */
}

.comment-section {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center; /* Center text */
}

.comment-section ul {
  list-style-type: none;
  padding: 0;
}

.comment-section ul li {
  margin-bottom: 10px;
}
